{%- comment -%}
  ------------------------------------------------------------------------------------------------------------------------
  CSS
  ------------------------------------------------------------------------------------------------------------------------
{%- endcomment -%}

<style>
  #shopify-section-{{ section.id }} {
    --media-with-text-gap: {% if section.settings.spacing == 'none' %}0{% else %}var(--grid-gutter){% endif %};
    --media-with-text-item-grid-template: "media" "content" / auto;
  }

  @media screen and (min-width: 1000px) {
    #shopify-section-{{ section.id }} {
      --media-with-text-gap: {% if section.settings.spacing == 'none' %}0{% elsif section.settings.spacing == 'small' %}var(--spacing-6){% elsif section.settings.spacing == 'medium' %}var(--spacing-12){% else %}var(--spacing-18){% endif %};
    }
  }

  {%- for block in section.blocks -%}
    {%- assign media_ratio = block.settings.media_width | divided_by: 50.0 -%}
    {%- assign content_ratio = 2.0 | minus: media_ratio -%}

    #block-{{ section.id }}-{{ block.id }} {
      --media-with-text-item-icon-width: {{ block.settings.icon_width }}px;
    }

    @media screen and (min-width: 1000px) {
      #block-{{ section.id }}-{{ block.id }} {
        --media-with-text-item-grid-template: {% if block.settings.media_position == 'start' %}"media content" / minmax(0, {{ media_ratio }}fr) minmax(0, {{ content_ratio }}fr){% else %}"content media" / minmax(0, {{ content_ratio }}fr) minmax(0, {{ media_ratio }}fr){% endif %};
      }
    }
  {%- endfor -%}
</style>

{%- comment -%}
  ------------------------------------------------------------------------------------------------------------------------
  LIQUID
  ------------------------------------------------------------------------------------------------------------------------
{%- endcomment -%}

<media-with-text class="media-with-text {% if section.settings.spacing == 'none' %}{% if section.settings.full_width %}full-bleed{% else %}rounded{% endif %}{% endif %}">
  {%- for block in section.blocks -%}
    <div
      id="block-{{ section.id }}-{{ block.id }}"
      class="media-with-text__item"
      style="background:{{ block.settings.background }};"
      {{ block.shopify_attributes }}
    >
      <div
        class="media-with-text__media {% unless section.settings.spacing == 'none' %}rounded{% endunless %}"
        reveal-on-scroll="true"
      >
        {%- if block.type == 'image' -%}
          {%- if block.settings.image != blank -%}
            {%- assign width_ratio = 100.0 | divided_by: block.settings.media_width -%}
            {%- assign maximum_image_width = settings.page_width | divided_by: width_ratio -%}

            {%- capture sizes -%}(max-width: 999px) 100vw, min({{ maximum_image_width | ceil }}px, {{ block.settings.media_width }}vw){% endcapture %}

            {{-
              block.settings.image
              | image_url: width: block.settings.image.width
              | image_tag:
                loading: 'lazy',
                sizes: sizes,
                widths: '300,400,500,600,700,800,1000,1200,1400,1600,1800,2000,2200,2400,2600'
            -}}
          {%- else -%}
            {{- 'image' | placeholder_svg_tag: 'aspect-short placeholder' -}}
          {%- endif -%}
        {% else %}
          {%- capture poster -%}
              {%- assign poster_image = block.settings.poster_image | default: block.settings.video.preview_image -%}

              {%- if poster_image -%}
                {{- poster_image | image_url: width: poster_image.width | image_tag: loading: 'lazy', sizes: '(max-width: 699px) 400px, 800px', widths: '200,300,400,500,600,700,800,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000,3200', class: 'rounded' -}}
              {%- else -%}
                {{ 'image' | placeholder_svg_tag: 'rounded' }}
              {%- endif -%}
            {%- endcapture -%}
        {% endif %}
      </div>
      <div
        {% render 'surface', class: 'media-text-grid--content' %}
      >
        <div class="prose break-all {{ block.settings.text_position }}">
          {%- if block.settings.subheading != blank -%}
            <p class="bold">{{ block.settings.subheading | escape }}</p>
          {%- endif -%}

          {%- if block.settings.title != blank -%}
            {%- assign heading_text = block.settings.title | split: ' ' -%}

            <p class="h2 media-text-grid--title">
              {% for title in heading_text %}
                {% if forloop.index > block.settings.hightlight_index %}
                  {%- render 'styled-text',
                    content: title,
                    gradient: block.settings.text_gradient,
                    text_color: block.settings.text_color
                  -%}
                {% else %}
                  {%- render 'styled-text',
                    content: title,
                    gradient: block.settings.text_gradient,
                    text_color: block.settings.hightlight_color
                  -%}
                {% endif %}
              {% endfor %}
            </p>
          {%- endif -%}

          <div class="content-text">
            {{- block.settings.content -}}
          </div>

          {%- if block.settings.overline != blank -%}
            {%- assign overline = block.settings.overline | split: ',' -%}

            {% for text in overline %}
              <p class="overline">{{ text | escape }}</p>
            {% endfor %}
          {%- endif -%}

          {%- if block.settings.link_text != blank -%}
            {%- render 'button',
              size: 'lg',
              content: block.settings.link_text,
              background: block.settings.button_background,
              text_color: block.settings.button_text_color
            -%}
          {%- endif -%}
        </div>
      </div>
    </div>
  {% endfor -%}
</media-with-text>

{% schema %}
{
  "name": "Media Text Grid",
    "class": "shopify-section--media-with-text",
"tag": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width",
      "info": "Only has effect when spacing is set to none.",
      "default": false
    },
    {
      "type": "select",
      "id": "spacing",
      "label": "Spacing",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "small"
    }
  ],
    "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "1500 x 1500px .jpg recommended"
        },
        {
          "type": "range",
          "id": "media_width",
          "label": "Image width",
          "min": 30,
          "max": 60,
          "step": 5,
          "unit": "%",
          "default": 50
        },
        {
          "type": "select",
          "id": "media_position",
          "label": "Image position",
          "options": [
            {
              "value": "start",
              "label": "Left"
            },
            {
              "value": "end",
              "label": "Right"
            }
          ],
          "default": "start"
        },
        {
          "type": "select",
          "id": "text_position",
          "label": "Content position",
          "options": [
            {
              "value": "place-self-start text-start",
              "label": "Top left"
            },
            {
              "value": "place-self-start-center text-center",
              "label": "Top center"
            },
            {
              "value": "place-self-start-end text-end",
              "label": "Top right"
            },
            {
              "value": "place-self-center-start text-start",
              "label": "Middle left"
            },
            {
              "value": "place-self-center text-center",
              "label": "Middle center"
            },
            {
              "value": "place-self-center-end text-end",
              "label": "Middle right"
            },
            {
              "value": "place-self-end-start text-start",
              "label": "Bottom left"
            },
            {
              "value": "place-self-end-center text-center",
              "label": "Bottom center"
            },
            {
              "value": "place-self-end text-end",
              "label": "Bottom right"
            }
          ],
          "default": "place-self-center text-center"
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "Subheading"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Heading"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
        },
        {
          "type": "text",
          "id": "overline",
          "label": "Overline"
        },
        {
          "type": "text",
          "id": "link_text",
          "label": "Button text"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "Button URL"
        },
        {
          "type": "range",
          "id": "hightlight_index",
          "label": "Hightlight Area",
          "min": 1,
          "max": 10,
          "step": 1,
          "unit": "%",
          "default": 2
        },
        {
          "type": "header",
          "content": "Colors",
          "info": "Gradient replaces solid colors when set. Background is ignored when image is used."
        },
        {
          "type": "color",
          "id": "background",
          "label": "Background",
          "default": "#FFFFFF"
        },
        {
          "type": "color_background",
          "id": "background_gradient",
          "label": "Background gradient"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "hightlight_color",
          "label": "Hightlight Color",
          "default": "#D8465B"
        },
        {
          "type": "color_background",
          "id": "text_gradient",
          "label": "Text gradient"
        },
        {
          "type": "color",
          "id": "button_background",
          "label": "Button background"
        },
        {
          "type": "color",
          "id": "button_text_color",
          "label": "Button text"
        }
      ]
    }
  ],
  "presets": [
  {
    "name": "Media Text Grid",
    "blocks": [
      {
        "type": "image"
      }
    ]
  }
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
