{%- render 'section-spacing-collapsing' -%}
{%- assign text_position = section.settings.text_position -%}
{%- assign media = section.blocks | where: 'type', 'image' -%}
{%- assign accordions = section.blocks | where: 'type', 'accordion' -%}

{%- comment -%}
  ------------------------------------------------------------------------------------------------------------------------
  CSS
  ------------------------------------------------------------------------------------------------------------------------
{%- endcomment -%}

<style>
  #shopify-section-{{ section.id }} {
    --media-with-text-gap: {% if section.settings.spacing == 'none' %}0{% else %}var(--grid-gutter){% endif %};
    --media-with-text-item-grid-template: "media" "content" / auto;
  }

    #shopify-section-{{ section.id }} {
    --section-stack-intro: {% if text_position == 'center' %}66.6667%{% else %}50%{% endif %};
    --section-stack-main: 50%;
  }

  .media-with-text__content {
    padding: 0 !important;
  }

  @media screen and (min-width: 1000px) {
    #shopify-section-{{ section.id }} {
      --media-with-text-gap: {% if section.settings.spacing == 'none' %}0{% elsif section.settings.spacing == 'small' %}var(--spacing-6){% elsif section.settings.spacing == 'medium' %}var(--spacing-12){% else %}var(--spacing-18){% endif %};
    }
  }

  {%- for block in media -%}
    {%- assign media_ratio = block.settings.media_width | divided_by: 50.0 -%}
    {%- assign content_ratio = 2.0 | minus: media_ratio -%}

    #block-{{ section.id }}-{{ block.id }} {
      --media-with-text-item-icon-width: {{ block.settings.icon_width }}px;
    }

    @media screen and (min-width: 1000px) {
      #block-{{ section.id }}-{{ block.id }} {
        --media-with-text-item-grid-template: {% if block.settings.media_position == 'start' %}"media content" / minmax(0, {{ media_ratio }}fr) minmax(0, {{ content_ratio }}fr){% else %}"content media" / minmax(0, {{ content_ratio }}fr) minmax(0, {{ media_ratio }}fr){% endif %};
      }
    }
  {%- endfor -%}
</style>

{%- comment -%}
  ------------------------------------------------------------------------------------------------------------------------
  LIQUID
  ------------------------------------------------------------------------------------------------------------------------
{%- endcomment -%}

<div>
  <media-with-text class="media-with-text {% if section.settings.spacing == 'none' %}{% if section.settings.full_width %}full-bleed{% else %}rounded{% endif %}{% endif %}">
    {%- for block in media -%}
      <div id="block-{{ section.id }}-{{ block.id }}" class="media-with-text__item" {{ block.shopify_attributes }}>
        <div
          class="media-with-text__media {% unless section.settings.spacing == 'none' %}rounded{% endunless %}"
          reveal-on-scroll="true"
        >
          {%- if block.type == 'image' -%}
            {%- if block.settings.image != blank -%}
              {%- assign width_ratio = 100.0 | divided_by: block.settings.media_width -%}
              {%- assign maximum_image_width = settings.page_width | divided_by: width_ratio -%}

              {%- capture sizes -%}(max-width: 999px) 100vw, min({{ maximum_image_width | ceil }}px, {{ block.settings.media_width }}vw){% endcapture %}

              {{-
                block.settings.image
                | image_url: width: block.settings.image.width
                | image_tag:
                  loading: 'lazy',
                  sizes: sizes,
                  widths: '300,400,500,600,700,800,1000,1200,1400,1600,1800,2000,2200,2400,2600'
              -}}
            {%- else -%}
              {{- 'image' | placeholder_svg_tag: 'aspect-short placeholder' -}}
            {%- endif -%}
          {%- else -%}
            {%- capture poster -%}
              {%- assign poster_image = block.settings.poster_image | default: block.settings.video.preview_image -%}

              {%- if poster_image -%}
                {{- poster_image | image_url: width: poster_image.width | image_tag: loading: 'lazy', sizes: '(max-width: 699px) 400px, 800px', widths: '200,300,400,500,600,700,800,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000,3200', class: 'rounded' -}}
              {%- else -%}
                {{ 'image' | placeholder_svg_tag: 'rounded' }}
              {%- endif -%}
            {%- endcapture -%}
          {%- endif -%}
        </div>

        {%- capture content_class -%}media-with-text__content {% unless section.settings.spacing == 'none' %}rounded{% endunless %}{%- endcapture -%}
        <div class="flex-column">
          <div
            {% render 'surface',
              class: content_class,
              background: block.settings.background,
              background_gradient: block.settings.background_gradient,
              text_color: block.settings.text_color
            %}
          >
            <div class="prose break-all {{ block.settings.text_position }}" reveal-on-scroll="true">
              {%- if block.settings.subheading != blank -%}
                <p class="bold">{{ block.settings.subheading | escape }}</p>
              {%- endif -%}

              {%- if block.settings.title != blank -%}
                <p class="h2 bold heading-with-accordion">
                  {%- render 'styled-text', content: block.settings.title, gradient: block.settings.text_gradient -%}
                </p>
              {%- endif -%}

              {{- block.settings.content -}}
            </div>
          </div>
          <div
            {%
              render 'surface',
              class: 'accordion-hero',
              background_gradient: block.settings.background_gradient,
            %}
          >
            {%- comment -%}
              ------ ACCORDION -------
            {%- endcomment -%}
            {%- if accordions.size > 0 -%}
              <div class="{% if text_position != 'center' %}section-stack--horizontal{% else %}section-stack--center{% endif %} {% if text_position == 'end' %}section-stack--reverse{% endif %}">
                <div class="section-stack__main accordion-item">
                  <div
                    {% render 'surface',
                      class: 'accordion-box rounded',
                      background: section.settings.accordion_background,
                      text_color: '#FFFFFF',
                      background_fallback: 'bg-secondary'
                    %}
                  >
                    {%- for accordion in accordions -%}
                      {%- if accordion.settings.title != blank and accordion.settings.content != blank -%}
                        {%- capture accordion_content -%}
                          <div class="prose">{{ accordion.settings.content }}</div>
                        {%- endcapture -%}
                        {% assign default_open = false %}
                        {% if forloop.first %}
                          {% assign default_open = true %}
                        {% endif %}

                        {%- render 'accordion',
                          title: accordion.settings.title,
                          content: accordion_content,
                          block: accordion,
                          open: default_open
                        -%}
                      {%- endif -%}
                    {%- endfor -%}
                  </div>
                </div>
              </div>
            {%- endif -%}
          </div>
        </div>
      </div>
    {%- endfor -%}
  </media-with-text>
</div>

{% javascript %}
  const accordions = document.querySelectorAll(".accordion");

  accordions.forEach((accordion) => {
    accordion.addEventListener("click", () => {
      accordions.forEach((accord) => {
        if (accord.ariaExpanded){
          accord.ariaExpanded = false;
          accord.removeAttribute("open");
        }
      })
      accordion.toggleAttribute("open", true);
      accordion.ariaExpanded = !JSON.parse(accordion.ariaExpanded);
    })
  });
{% endjavascript %}

{% schema %}
{
  "name": "Media With Accordion",
  "class": "shopify-section--media-with-text",
  "tag": "section",
  "disabled_on": {
    "templates": ["password"],
    "groups": ["header", "custom.overlay"]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width",
      "info": "Only has effect when spacing is set to none.",
      "default": false
    },
    {
      "type": "select",
      "id": "spacing",
      "label": "Spacing",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "small"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "1500 x 1500px .jpg recommended"
        },
        {
          "type": "range",
          "id": "media_width",
          "label": "Image width",
          "min": 30,
          "max": 60,
          "step": 5,
          "unit": "%",
          "default": 50
        },
        {
          "type": "select",
          "id": "media_position",
          "label": "Image position",
          "options": [
            {
              "value": "start",
              "label": "Left"
            },
            {
              "value": "end",
              "label": "Right"
            }
          ],
          "default": "start"
        },
        {
          "type": "select",
          "id": "text_position",
          "label": "Content position",
          "options": [
            {
              "value": "place-self-start text-start",
              "label": "Top left"
            },
            {
              "value": "place-self-start-center text-center",
              "label": "Top center"
            },
            {
              "value": "place-self-start-end text-end",
              "label": "Top right"
            },
            {
              "value": "place-self-center-start text-start",
              "label": "Middle left"
            },
            {
              "value": "place-self-center text-center",
              "label": "Middle center"
            },
            {
              "value": "place-self-center-end text-end",
              "label": "Middle right"
            },
            {
              "value": "place-self-end-start text-start",
              "label": "Bottom left"
            },
            {
              "value": "place-self-end-center text-center",
              "label": "Bottom center"
            },
            {
              "value": "place-self-end text-end",
              "label": "Bottom right"
            }
          ],
          "default": "place-self-center text-center"
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "Subheading"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Heading"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
        },
        {
          "type": "header",
          "content": "Colors",
          "info": "Gradient replaces solid colors when set. Background is ignored when image is used."
        },
        {
          "type": "color",
          "id": "background",
          "label": "Background",
          "default": "#FFFFFF"
        },
        {
          "type": "color_background",
          "id": "background_gradient",
          "label": "Background gradient"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text",
          "default": "#ffffff"
        },
        {
          "type": "color_background",
          "id": "text_gradient",
          "label": "Text gradient"
        }
      ]
    },
    {
      "name": "Accordion",
      "type": "accordion",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Title"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Write content to help your customers to better understand your products or policies.</p>"
        },

    {
      "type": "color",
      "id": "accordion_background",
      "label": "Accordion background"
    },
    {
      "type": "color",
      "id": "accordion_text_color",
      "label": "Accordion text",
      "default": "#FFFFFF"
    }
      ]
    }
  ],
  "presets": [
    {
      "name": "Media With Accordion",
      "blocks": [
        {
          "type": "image"
        }
      ]
    },
    {
      "name": "Accordion",
      "blocks": [
        {
          "type": "accordion",
          "settings": {
            "title": "Question 1"
          }
        },
        {
          "type": "accordion",
          "settings": {
            "title": "Question 2"
          }
        },
        {
          "type": "accordion",
          "settings": {
            "title": "Question 3"
          }
        }
      ]
    }
  ]
}
{% endschema %}
