
<div class="container" style="max-width:max-content!important">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-12 text-content">
            <h1 class="mobile-app-flexible__title">{{ section.settings.heading1 }}</h1>
            <p class="mobile-app-flexible__subtext">{{ section.settings.richtext1 }}</p>
        
            <a class="mobile-app-section__button" href="{{ section.settings.link1 }}">
                {{- section.settings.link1text -}}
            </a>
        </div>
        <div class="col-lg-4 col-md-4 col-12 section-flex-img-right mobile-app-section__media">
          {%- if section.settings.image != blank -%}
            {{-
              section.settings.image
              | image_url: width: 2024
              | image_tag: loading: 'lazy', widths: '300,400,500,600,700,800,1000,1200,1400,1600,1800,2000,2200,2400,2600'
            -}}
          {%- else -%}
            {{- 'image' | placeholder_svg_tag: 'aspect-short placeholder' -}}
          {%- endif -%}
        </div>
    </div>
</div>


{% schema %}
  {
      "name": "mobile-flexible-right",
      "tag": "section",
      "settings": [
          {
              "type": "text",
              "id": "heading1",
              "label": "Heading 1",
              "default": "Designed for one handed use"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "1500 x 1500px .jpg recommended"
          },
          {
              "type": "richtext",
              "id": "richtext1",
              "label": "Richtext 1",
              "default": "<p>The Vibes Only app's custom controller lets you adjust the intensity (0-100%), pick patterns, toggle stealth mode, and control dual motors vibrators independently.</p>"
          },
          {
              "type": "url",
              "id": "link1",
              "label": "Link 1"
          },
          {
              "type": "text",
              "id": "link1text",
              "label": "Link 1 text",
              "default": "TRY IT OUT"
          }
      ],
      "presets": [
          {
              "name": "mobile-flexible-right"
          }
      ]
  }
  {% endschema %}

{% stylesheet %}
.section-flex-img-right img{
  width: 80%!important;
}
.text-content{
  display:flex;
  flex-direction:column;
  flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
}
  .mobile-app-flexible__subtext{
    color: #403131;
    font-family: Helvetica Neue;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
  }
  
  
  .flexible_image{
    width:200%!important;
    object-fit: fill;
  }
  .container{
    margin-bottom:30px;
  }
  .mobile-app-flexible__title{
    margin-top:30px;
    color: #403131;
    font-family: Operetta 12;
    font-size: 3.5em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .mobile-app-section__button{
    padding:13px;
    font-size: 13px;
    color: #403131;
    width: fit-content;
    font-weight:400;
    font-family: Helvetica Neue;
    border-radius: 12px;
    border: 1px solid rgba(191, 85, 105, 0.30);
    background: linear-gradient(90deg, rgba(229, 102, 126, 0.60) -42.84%, rgba(248, 228, 230, 0.60) 114.03%);
  }
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
