{%- comment -%}
  ------------------------------------------------------------------------------------------------------------------------
  CSS
  ------------------------------------------------------------------------------------------------------------------------
{%- endcomment -%}
<style>
    .mobile-slide-title{
        color:black;
        text-align: center;
            font-family: Helvetica Neue;
            font-size:5vw;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
    }
    .mobile-app-slide__richtext{
        color: #403131;
        font-family: Helvetica Neue;
        font-size:20px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }
    .mobile-app-slide-card-itle{
        color: #BF5569;
        font-family: Helvetica Neue;
        font-size:60px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    .mobile-app-flexible__title1{
        color: #403131;
        font-family: Helvetica Neue;
        font-size:3vw;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    @media only screen and (max-width: 600px) {
        .card-body{
        min-height: 100px!important;
        min-width: 90%!important;
        padding:10px;
        }
        .mobile-app-slide-card-itle{
            font-size:40px;
        }
        .mobile-app-slide__richtext{
        font-size: 20px;
        }
        .mobile-app-slide-subtext{
            font-size:15px;
        }
        .mobile-slide{
            width: 100%!important;
        }
    }

    .mobile-app-slide-subtext{
        color: #403131;
        font-family: Helvetica Neue;
        font-size:30px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    .card-body{
        min-height: 300px;
        min-width: 800px;
        border-radius: 32px;
        border: 1px solid rgba(191, 85, 105, 0.30);
        background: linear-gradient(180deg, #F2C2C7 0%, rgba(249, 232, 234, 0.15) 100%), #FDF3F3;
        box-shadow: 0px 20px 32px 0px rgba(191, 85, 105, 0.12);
        padding:8px;
    }

    .text-content{
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
        align-content: space-around;
        justify-content: center;
    }
    .mobile-slide{
        width: 105%;
        height: fit-content;
        overflow:hidden;
        overflow: scroll;
    }
    .flex-row{
        gap:25px!important;
    }
    .mobile-slide::-webkit-scrollbar {
    display: none;
    }
    .mobile-slide-section{
        width: 100%;
    }
</style>
<div class="mobile-slide-section">
    <h2 class="mobile-slide-title">{{ section.settings.title }}</h2>
    <div class="container-fluid py-2 mobile-slide">
        <div class="d-flex flex-row flex-nowrap">
            {% if section.blocks %}
                {%- for block in section.blocks -%}
                    <div class="card card-body">
                        <div class="container" style="max-width:max-content!important">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-12 text-content">
                                    <h1 class="mobile-app-slide-card-itle">{{ block.settings.slideheadtext }}</h1>
                                        {%- if block.settings.slidesubtext != blank -%}
                                            <h4 class="mobile-app-slide-subtext"> {{ block.settings.slidesubtext }} </h4>
                                        {%- else -%}
                                            
                                        {%- endif -%}
                                        <h4 class="mobile-app-slide__richtext">{{ block.settings.sliderichtext }}</h4>
                                </div>
                                <div class="col-lg-6 col-md-6 col-12 section-flex-img-right mobile-app-section__media">
                                    {%- if block.settings.slideimage != blank -%}
                                        {{-
                                        block.settings.slideimage
                                        | image_url: width: 2024
                                        | image_tag: loading: 'lazy', widths: '300,400,500,600,700,800,1000,1200,1400,1600,1800,2000,2200,2400,2600'
                                        -}}
                                    {%- else -%}
                                        {{- 'image' | placeholder_svg_tag: 'aspect-short placeholder' -}}
                                    {%- endif -%}
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    
                {% endfor %}
            {% endif %}
            
        </div>
    </div>
</div>

{% schema %}
{
  "name": "Mobile section slide",
  "class": "mobile-tab",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Heading"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Card",
      "settings": [
        {
          "type": "image_picker",
          "id": "slideimage",
          "label": "slideImage",
          "info": "1500 x 1500px .jpg recommended"
        },
        {
        "type": "text",
        "id": "slideheadtext",
        "label": "Slide head",
        "default": "Step 0"
        },
        {
        "type": "text",
        "id": "slidesubtext",
        "label": "Slide head sub text",
        "default": "Sub"
        },
        {
            "type": "richtext",
            "id": "sliderichtext",
            "label": "Slide text description",
            "default": "<p>The Vibes Only app's custom controller lets you adjust the intensity (0-100%), pick patterns, toggle stealth mode, and control dual motors vibrators independently.</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Mobile section slide",
      "blocks": [
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
        
{% endstylesheet %}

{% javascript %}
 
{% endjavascript %}
